body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  background-color: blueviolet;
  /* height: 30%; */
  /* width: 70%; */
  margin: 5px;
  color: white;
  border: 5px solid black;
  text-align: center;
  line-height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border: 10px solid black;
  justify-content: space-around;
  max-width: 80%; /* Set maximum width */
  width: 50rem;
  margin: 0 auto; /* Center horizontally */
  /* height: 80%; */
}